@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure Devops Pipelines CI CD</h1>
    <p>Exemplo com 3 tipos de testes de software e publicação no Azure</p>
</div>
